@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #fff;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";






.why-go{
  background-color: #f7f8f8;
  border-bottom: 1px solid #ebebeb;
  @if $adaptive == true{
    @media (max-width: 1025px){
      height: 647px;
    }
  }
  @if $adaptive == true{
    @media (max-width: 780px){
      height: auto;
    }
  }
}
.title-go{
  position: absolute;
  left: 29px;
  top: 200px;
  width: 136px;
  min-height: 222px;
  background-image: url("../img/why.png");
  background-repeat: no-repeat;
  h2{
    font-size:40px;
    font-weight:300;
    color: #263139;
    line-height: 45px;
    text-transform: uppercase;
    padding-top: 54px;
    position: relative;
    &:after{
      position: absolute;
      left: -19px;
      top: 32px;
      content: '';
      background-image: url("../img/ygol.png");
      width: 30px;
      height: 29px;
    }
  }
  b{
    font-weight: bold;
  }
  @if $adaptive == true{
    @media (max-width: 1025px){
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
      top: auto;
      left: auto;
      min-height: inherit;
      background-image: none;
      h2{
        display: inline-block;
        padding-top: 90px;
        &:after{
          top: 80px;
        }
      }
      b{
        font-weight:300;
      }
      br{
        display: none;
      }
    }
  }
  @if $adaptive == true{
    @media (max-width: 370px){
      h2{
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}
.title-go-all{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  top: auto;
  left: auto;
  min-height: inherit;
  background-image: none;
  h2{
    display: inline-block;
    padding-top: 90px;
    &:after{
      top: 80px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 810px){
      h2{
        &:after{
          left: -9px;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 802px){
      h2{
        &:after{
          left: 55px;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 656px){
      h2{
        &:after{
          left: 0px;
        }
      }
    }
  }

}

.items-go{
  height: 647px;
  margin-top: 68px;
  position: relative;
  margin-left: 119px;
  li{
    position: absolute;
    width: 252px;
    height: 252px;
    background-image: url("../img/item-go.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    img{
      padding-top: 60px;
      padding-bottom: 36px;
    }
    h2{
      font-size:24px;
      line-height: 24px;
      font-weight:bold;
    }
    h3{
      font-size:18px;
      line-height: 18px;
      font-weight:bold;
    }
    b{
      display: block;
      font-size:36px;
      line-height: 36px;
    }
    p{
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
    }
    &:first-child{
      left: 0;
      top: 0;
    }
    &:nth-child(2){
      left: 256px;
    }
    &:nth-child(3){
      left: 512px;
      h3{
        width: 170px;
        margin: 0 auto;
      }
      p{
        display: initial;
        padding-left: 5px;
      }
    }
    &:nth-child(4){
      top: 128px;
      left: 128px;
    }
    &:nth-child(5){
      top: 128px;
      left: 384px;
    }
    &:nth-child(6){
      top: 128px;
      left: 640px;
    }
    &:nth-child(7){
      top: 255px;
      left: 0px;
    }
    &:nth-child(8){
      top: 255px;
      left: 256px;
    }
    &:nth-child(9){
      top: 255px;
      left: 512px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 1025px){
      margin-top: 57px;
      height: auto;
      li{
        background-image: url("../img/m-item-go.png");
        width: 204px;
        height: 204px;
        img{
          padding-top: 37px;
          padding-bottom: 20px;
        }
        &:nth-child(2){
          left: 209px;
        }
        &:nth-child(3){
          left: 418px;
        }
        &:nth-child(4){
          top:104px;
          left: 104px;
        }
        &:nth-child(5){
          top:104px;
          left: 314px;
          h2{
            font-size: 18px;
            line-height: 18px;
          }
        }
        &:nth-child(6){
          top:104px;
          left: 521px;
        }
        &:nth-child(7){
          top:207px;
          left: 0px;
        }
        &:nth-child(8){
          top:207px;
          left: 209px;
          p{
            padding-bottom: 5px;
          }
        }
        &:nth-child(9){
          top:207px;
          left: 418px;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 860px){
      margin-top: 57px;
      margin-left: 38px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 780px){
      margin-left: 0px;
      ul{
        text-align: center;
      }
      li{
        position: relative;
        top: auto !important;
        left: auto !important;
        display: inline-block;
        vertical-align: top;
        margin: 10px 22px;
        &:nth-child(3){
          position: absolute;
          top: 114px !important;
          left: 50% !important;
          margin-left: -102px;

        }
        &:nth-child(6){
          position: absolute;
          top: 340px !important;
          left: 50% !important;
          margin-left: -102px;

        }
        &:nth-child(9){
          top: -115px !important;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 529px){
      margin-left: 0px;
      ul{
        text-align: center;
      }
      li{
        margin: 10px 10px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 481px){
      margin-left: 0px;
      ul{
        text-align: center;
      }
      li{
        margin: 10px 0px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 441px){
      margin-left: 0px;
      ul{
        text-align: center;
      }
      li{
        margin: 10px 0px;
        &:nth-child(3){
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important;
        }
        &:nth-child(6){
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important;
        }
        &:nth-child(9){
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important;
        }
      }
    }
  }
}




.mobile-br{
  display: none;
  @if $adaptive == true {
    @media (max-width: 1025px){
      display: block;
    }
  }
}


.if-not-mob{
  display: block;
  @if $adaptive == true {
    @media (max-width: 1025px){
      display: none;
    }
  }
}



.presence{
  @if $adaptive == true {
    @media (max-width: 991px){
      margin-bottom: 70px;
      .geen-buttons{
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -154px;
      }
    }
  }

  .title-go{
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
      top: auto;
      left: auto;
      min-height: inherit;
      background-image: none;
      h2{
        display: inline-block;
        padding-top: 90px;
        &:after{
          top: 80px;
        }
      }
      p{
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
        color: #7f8890;
      }
      h3{
        color: #7f8890;
        font-size:24px;
        line-height: 24px;
        padding-top: 5px;
      }
    @if $adaptive == true {
      @media (max-width: 810px){
        h2{
          &:after{
            left: -9px;
          }
        }
      }
    }
    @if $adaptive == true {
      @media (max-width: 802px){
        h2{
          &:after{
            left: 55px;
          }
        }
      }
    }

  }
  .geen-buttons{
    margin-top: 30px;
    text-align: center;
  }
  @if $adaptive == true {
    @media (max-width: 770px){
      .title-go{
        h2{
          &:after{
            left: 10px;
          }
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 656px){
      margin-bottom: 0;
      .title-go{
        h2{
          &:after{
            left: 0px;
          }
        }
      }
      .geen-buttons{
        bottom: 50px;
      }
      .video-book{
        margin-bottom: 0;
      }
    }
  }
}


.video-book{
  max-width: 779px;
  margin: 31px auto;
  text-align: center;
  position: relative;
  background-image: url("../img/book.png");
  height: 413px;
  img{
    padding-top: 28px;
  }
  @if $adaptive == true {
    @media (max-width: 799px){
      background-size: 100%;
      background-repeat: no-repeat;
      img{
        padding: 23px 20px;
        width: 75%;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 600px){
      img{
        padding: 20px 20px;
        width: 76.5%;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 530px){
      img{
        width: 76.5%;
      }
    }
  }


}



.organize{
  background-color: #f1f2f2;
  background-image: url("../img/bg-org.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 45px;
  border-bottom: 1px solid #e2e2e2;
  .col-md-4{
    padding-left: 0;
  }
  .col-md-8{
    padding-right: 0;
  }
  .title-go{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    top: auto;
    left: auto;
    min-height: inherit;
    background-image: none;
    h2{
      display: inline-block;
      padding-top: 90px;
      &:after{
        top: 80px;
      }
    }
    @if $adaptive == true {
      @media (max-width: 810px){
        h2{
          &:after{
            left: -9px;
          }
        }
      }
    }
    @if $adaptive == true {
      @media (max-width: 802px){
        h2{
          &:after{
            left: 55px;
          }
        }
      }
    }
    @if $adaptive == true {
      @media (max-width: 656px){
        h2{
          &:after{
            left: 0px;
          }
        }
      }
    }

  }
  @if $adaptive == true {
    @media (max-width: 1095px){
      .title-go{
        h2{
          &:after{
            left: -8px;
          }
        }

      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1025px){
      .title-go{
        br{
          display: block;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      .title-go{
        h2{
          &:after{
            left: -15x;
          }
        }
      }
    }
  }

}


.right-organize{
  text-align: center;
}

.left-org{
  img{
    padding-top: 70px;
    width: 100%;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      img{
        width: 70%;
      }
    }
  }
}


.right-org{
  text-align: center;
  margin-top: 54px;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      li{
        margin: 10px 10px;
      }
    }
  }

}
.vote-new{
  text-align: center;
  padding-bottom: 20px;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 35px 19px;
    width: 29.8%;
    text-align: left;
    .img-left-vote{
      display: inline-block;
      vertical-align: middle;
      width: 19%;
      text-align: center;
    }
    &:last-child{
      width: 371px;
      margin: 35px 0px;
      margin-right: -40px;
      }
    }
    p{
      padding-left: 10px;
      vertical-align: middle;
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      color: #263139;
      font-weight:300;
      text-align: left;
      width: 79.8%;
    }
  @if $adaptive == true {
    @media (max-width: 1177px){
      li{
        margin: 35px 10px ;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1123px){
      li{
        width: 33%;
        margin: 35px 0;
        p{
          padding-left: 20px;
        }
        br{
          display: none;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 997px){
      li{
        width: 32%;
        margin: 35px 0;

      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 966px){
      li{
        width: 254px ;
        margin: 35px 0;
        .img-left-vote{
          width: 23.8%;
        }
        p{
          width: 74.7%;
          padding-left: 2px;
        }
        br{
          display: none !important;
        }
        &:last-child{
          width: 254px;
          margin: 35px 0;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 799px){
      li{
        width: 300px ;
        margin: 35px 5px;
        br{
          display: none !important;
        }
        &:last-child{
          width: 300px;
          margin: 35px 5px;
          margin-right: 5px;
        }
      }
    }
  }
}



.sm-br{
  display: none;
  @if $adaptive == true {
    @media (max-width: 1024px){
      display: block !important;
    }
  }
}


.conferenc{
  background-color: #3c3442;
  background-image: url("../img/bg-conf.jpg");
  background-position: left;
  background-repeat: no-repeat;
  @if $adaptive == true {
    @media (max-width: 1200px){
      padding: 0 10px;
      background-image: none;
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      padding-bottom: 130px;
      ul{
        padding-bottom: 0px;
      }
    }
  }
}



.left-conf{
  max-width: 590px;
  width: 100%;
  float: left;
  border-bottom: 2px solid #ffb100;
  margin-top: 70px;
  ul{
    margin-bottom: 21px;
  }
  li{
    float: left;
    text-align: center;
    padding: 34px 55px;
    height: 200px;
    p{
      color: #fff;
      font-size:21px;
      line-height: 25px;
      font-weight:300;
    }
    h2{
      color: #ffb100;
      font-size:70px;
      line-height: 70px;
      font-weight:bold;
    }
    &:first-child{
      border-right: 1px solid #ffb100;
    }
    &:last-child{
      border-left: 1px solid #ffb100;
    }
  }
  @if $adaptive == true {
    @media (max-width: 1179px){
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center;
      li{
        padding: 34px 45px;
        float: none;
        vertical-align: top;
        display: inline-block;
        &:last-child{
          border-left: none;
        }
        &:first-child{
          border-right: 2px solid #ffb100;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1172px){
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center;
      li{
        padding: 34px 40px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1125px){
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center;
      li{
        padding: 34px 35px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1078px){
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center;
      li{
        padding: 34px 25px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1031px){
      width: 49.8%;
      li{
        padding: 34px 20px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1017px){
      width: 49.8%;
      li{
        padding: 34px 35px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      width: 37.8%;
      li{
        padding: 34px 0px;
        max-width: 150px;
        float: left;
        h2{
          font-size: 50px;
          line-height: 50px;
        }
        p{
          letter-spacing: -0.4px;
          padding-right: 20px;
          padding-left: 10px;
          font-size: 16px;
        }
        &:last-child{
          p{
              padding-left: 15px;
          }
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 799px){
      width: 100%;
      float: none;
      li{
        float: none;
        display: inline-block;
        vert-align: top;
        padding: 35px 25px;
        max-width: inherit;
        p{
          padding: 0;
        }
      }
    }
  }
}

.right-conf{
  float: left;
  max-width: 590px;
  width: 100%;
  padding-left: 50px;
  .title-go{
    text-align: left;
    h2{
      color: #fff;
    }
  }
  p{
    padding-top: 20px;
    color: #fff;
    font-weight:300;
    line-height: 25px;
    font-size: 16px;
  }
  @if $adaptive == true {
    @media (max-width: 1179px){
      max-width: inherit;
      width: 56.7%;
      padding-right: 10px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 1031px){
      max-width: inherit;
      width: 49%;
      padding-right: 10px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 1024px){
      width: 49.8%;
      padding-right: 10px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 1012px){
      width: 49.0%;
      padding-right: 10px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 992px){
      width: 49.5%;
      padding-right: 10px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 992px){
      width: 61.5%;
      padding-right: 10px;
      padding-left: 30px;
      .title-go-all{
        h2{
          &:after{
            left: -20px;
          }
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 799px){
      width: 100%;
      padding: 0;
      text-align: center;
      .title-go-all{
        text-align: center;
        h2{
          text-align: center;
          &:after{
            left: -20px;
          }
        }
      }
    }
  }
}

.slider-conf{
  position: relative;
  .arrow-slider{
    position: absolute;
    bottom: 60px;
    left: 380px;
    z-index: 80;
    a{
      display: block;
      border: 1px solid #ebebeb;
      width: 26px;
      height: 26px;
      &:hover{
        background-color: #ffb100;
        border: 1px solid #ffb100;
      }

    }
    .left-arrow{
      float: left;
      margin-right: 1px;
      a{
        border-radius: 2px 2px 0 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/left-arrow.png");
        &:hover{
          background-image: url("../img/left-arrow-hover.png");
        }
      }
    }
    .right-arrow{
      float: left;

      a{
        border-radius: 0 0 2px 2px;
        background-image: url("../img/right-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        &:hover{
          background-image: url("../img/right-arrow-hover.png");

        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1199px){
      .arrow-slider{
        left: 289px;

      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      padding: 0 0px 65px 0px;
      margin: 0 60px;
      .arrow-slider{
        bottom: 0;
        right: 0;
        left: auto;
      }

    }
  }
  @if $adaptive == true {
    @media (max-width: 850px){
      padding: 0 0 65px 0 ;
      .arrow-slider{
        bottom: 0;
        right: 0;
        left: auto;
      }

    }
  }
  @if $adaptive == true {
    @media (max-width: 850px){
      padding: 0 0 65px 0 ;
      margin: 0 10px;
    }
  }
}

.left-slider-text{
  max-width: 600px;
  margin-top: 109px;
  position: relative;
  z-index: 69;
  float: left;
  width: 100%;
  padding-left: 0px;
  color: #fff;
  padding-bottom: 100px;
  h2{
    padding-top: 29px;
    font-size:40px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight:300;
  }
  p{
    margin-top: 30px;
    font-size:16px;
    line-height: 25px;
    padding-top: 5px;
    letter-spacing: -0.4px;
    background-color: rgba(60,52,66, 0.5);
  }
  .border-bottom{
    margin-top: 20px;
    width: 430px;
    padding-left: 4px;
    background-color: #b2b2b2;
    height: 1px;

  }
  @if $adaptive == true {
    @media (max-width: 1199px){
      max-width: inherit;
      width: 50.6%;
      background-color: rgba(60,52,66, 0.5);
      h2{
        letter-spacing: -0.9px;
      }
      p{
        background-color: transparent;
        br{
          display: none;
        }
      }
      .border-bottom{
        width: 67%;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      max-width: inherit;
      width: 100%;
      margin-top: 70px;
      float: none;
      background-color: rgba(60,52,66, 0.5);
      h2{
        letter-spacing: -0.9px;
      }
      p{
        background-color: transparent;
        br{
          display: none;
        }
      }
      .border-bottom{
        width: 100%;
        position: absolute;
        bottom: -639px;
        z-index: 80;
      }
      padding-bottom: 0;
      h2{
        br{
          &:last-child{
            display: none;
          }
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 550px){
      h2{
        font-size: 40px;
        text-align: center;
        br{
          display: none;
        }
      }
    }
  }

}


.right-slider-img{
  float: left;
  margin-top: 85px;
  position: relative;
  width: 100%;
  max-width: 580px;
  height: 480px;
  img{
    position: absolute;
    bottom: -50px;
    left: -145px;
  }
  @if $adaptive == true {
    @media (max-width: 1199px){
      max-width: inherit;
      width: 40%;
      img{
        max-width: 630px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      max-width: inherit;
      margin-top: 0px;
      width: 100%;
      float: none;
      height: auto;
      img{
        max-width: inherit;
        margin-left: 0;
        width: 100%;
        left: auto;
        top: auto;
        position: relative;
      }
    }
  }
}


.choice{
  .title-go{
    p{
      padding-top: 20px;
      font-size: 16px;
      color: #7f8890;
    }
  }
}

.beer-time{
  text-align: center;
  margin-top: 50px;
  h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.midle-beer{
  text-align: center;
  position: relative;
  margin-top: 49px;
  h2{
    font-size:50px;
    line-height: 50px;
    padding-bottom: 37px;
    color: #7f8890;
  }
  .checkbox {
    display: none;
  }
  .checkbox-custom{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    background-color: #e8e8e8;
  }
  .checkbox-custom,
  .label {
    display: inline-block;
    vertical-align: middle;
  }
  .checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: url("../img/check.png");
    background-position: center;
    .left-yes{
      position: absolute;
      left: 199px;
      top: 70px;

    }
    .right-no{
      position: absolute;
      right: 199px;
      top: 70px;

    }
  }
  .left-yes{
    position: absolute;
    left: 199px;
    top: 70px;

  }
  .right-no{
    position: absolute;
    right: 199px;
    top: 70px;

  }
  @if $adaptive == true {
    @media (max-width: 1024px){
      .left-yes{
        left: 119px;
      }
      .right-no{
        right: 119px;
      }
    }
    @media (max-width: 991px){
      .left-yes{
        left: 129px;
      }
      .right-no{
        right: 129px;
      }
    }
    @media (max-width: 700px){
      .left-yes{
        left: 50px;
      }
      .right-no{
        right: 50px;
      }
    }
    @media (max-width: 535px){
      .left-yes{
        left: 0px;
      }
      .right-no{
        right: 0px;
      }
    }
    @media (max-width: 460px){
      .left-yes{
        position: relative;
        left: auto;
        top: auto;
        margin-top: 15px;
      }
      .right-no{
        position: relative;
        left: auto;
        top: auto;
        margin-top: 15px;
      }
    }

  }
}

.buttons-beer{
  text-align: center;
  ul{
    display: inline-block;
  }
  li{
    float: left;
    &:last-child{
      a{
        background-color: transparent;
        border: 1px solid #b0abb3;
        color: #b0abb3;
        &:hover{
          color: #fff;
          background-color: darken(#b0abb3,10);
        }
      }
    }
  }
  a{
    display: block;
    border-radius: 40px;
    font-size:14px;
    text-transform: uppercase;
    border-bottom: 2px solid #127323;
    padding: 15px 53px;
    color: #fff;
    background-color: #71c34c;
    margin: 49px 7.5px;
    transition: 0.2s all;
    &:hover{
      background-color: darken(#71c34c,10);
    }
  }
  @if $adaptive == true {
    @media (max-width: 425px){
      li{
        float: none;
        display: inline-block;
      }
      a{
        margin: 5px 0;
      }
    }

  }
}
//ALWAYS END
@import "sketches.scss";