header
    .inner
        .container-fluid
            .row
                .col-xs-12
                    .logo
                        a(href="#")
                            img(src="img/logo.png")
                    .text
                        p
                            |Конференция Asterisk - событие,
                            |<br>
                            |которое нельзя пропустить!

                    .head-menu
                        ul
                            li
                                a(href="#" class="active") Главная
                            li
                                a(href="#") Программа
                            li
                                a(href="#") Где и когда
                            li
                                a(href="#") Стоимость
                            li
                                a(href="#") Спикерам
                            li
                                a(href="#") Спонсорам
                            li
                                a(href="#") Иногородним
                    .hamburger.hamburger--elastic.hidden-md.visible-xs.visible-sm(type="button")
                        span.hamburger-box
                            span.hamburger-inner
.head-baner
    .inner
        .container-fluid
            .row
                .col-xs-12
                    .left-date
                        ul
                            li
                                .calendar
                                    img(src="img/icon1.png")
                                    p XX-YY сентября 2017

                             li
                                .adres
                                    img(src="img/icon2.png")
                                    p в Москве

                    .live-broadcasting
                        a(href='#') онлайн-трансляция
                                    |<br>по всему миру
                    .tticket.pull-right
                        a(href="#") Получить билет
                    .title-baner
                        h1  <tt>Ежегодная</tt>
                            |<br>Конференция
                            |<br>по Asterisk
                        .geen-buttons
                            a(href="#") Принять участие
                    .baner-items
                        ul
                            li
                                .img-for-baner
                                    img(src='img/f1.png')
                                h2 300
                                p участников в<br> Москве
                            li
                                .img-for-baner
                                    img(src='img/f2.png')
                                h2 150
                                p участников в<br>
                                  |онлайн-<br> трансляции
                            li
                                .img-for-baner
                                    img(src='img/f3.png')
                                h2 30+
                                p докладов и<br> мастер-классов
                            li
                                .img-for-baner
                                    img(src='img/f4.png')
                                h2 Большой<br> зал
                                p для докладов
                            li
                                .img-for-baner
                                    img(src='img/f5.png')
                                h2 Малый<br> зал
                                p для мастер-классов




