extends layouts/html.jade
block content
    .where
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go.title-go-all
                            h2 Где
                            p GagarinSpace, г.Москва, Ярославское шоссе, д.124

                        .where-map
                            a(href="#" download=) Скачать схему проезда<br>
                                                  | <tt>jpg, 259 Кбайт</tt>
                            .map
                                img(src='img/map.jpg')
                                p Мы выбрали, пожалуй, лучшую площадку под наше мероприятие.<br> В нашем распоряжении два этажа ультрасовременного<br> конференц-зала
    .feast.feast-in
        .inner
            .slider-conf
                .arrow-slider.clearfix
                    .border-bottom
                    .right-arrow.right-arrow-one
                        a(href="#")
                    .left-arrow.left-arrow-one
                        a(href="#")
                ul(id="where-one").clearfix
                    li
                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  На первом этаже
                                    p  Большой зал, на котором будут проходить выступления спикеров
                        .right-slider-img
                            img(src="img/conf1.jpg")

                    li
                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  На первом этаже
                                    p  Большой зал, на котором будут проходить выступления спикеров
                        .right-slider-img
                            img(src="img/feast.jpg")
            .slider-conf.slider-conf-right
                .arrow-slider.clearfix
                    .border-bottom
                    .left-arrow.left-arrow-one
                        a(href="#")
                    .right-arrow.right-arrow-one
                        a(href="#")
                ul(id="where-two").clearfix
                    li
                        .right-slider-img
                            img(src="img/conf2.jpg")

                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  На втором этаже
                                    p  Малый зал, где будут проходить мастер-классы и практические семинары

                    li
                        .right-slider-img
                            img(src="img/conf2.jpg")

                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  На втором этаже
                                    p  Малый зал, где будут проходить мастер-классы и практические семинары

            .slider-conf.slider-conf-tree
                .arrow-slider.clearfix
                    .border-bottom
                    .right-arrow.right-arrow-one
                        a(href="#")
                    .left-arrow.left-arrow-one
                        a(href="#")
                ul(id="where-tree").clearfix
                    li
                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  Ресторан DeBasus
                                    p  В пяти минутах ходьбы от GagarinSpace располагается отличный немецкий ресторан DeBasus, который был отмечен наилучшими отзывами участников AsterConf-2016.
                                    p  В DeBasus нас ждет фирменное нефильтрованное разливное пиво, отменные стейки и немецие колбаски и множество закусок.
                                    p  Именно поэтому банкет является вишенкой на торте нашей конференции.
                        .right-slider-img
                            img(src="img/conf3.jpg")

                    li
                        .orange-bg
                            .left-slider-text
                                .box-sh
                                    h2  Ресторан DeBasus
                                    p  Большой зал, на котором будут проходить выступления спикеров
                        .right-slider-img
                            img(src="img/conf3.jpg")

    .where
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go.title-go-all
                            h2 Когда
                            p Пока мы точно знаем, что конференция будет в сентябре. А именно Вы<br> поможете решить, в какие даты она пройдет


