extends layouts/html.jade
block content
    .why-go
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go
                            h2 Зачем<br> <b>идти</b>
                        .items-go
                            ul.clearfix
                                li
                                    img(src="img/g1.png")
                                    b 15
                                    p Докладов
                                li
                                    img(src="img/g2.png")
                                    h2 Розыгрыш
                                    p ценных призов
                                li
                                    img(src="img/g3.png")
                                    h3 Полезные
                                        br.mobile-br
                                        |контакты
                                        br.if-not-mob
                                        |<p>и общение в кофе-<br>
                                        |брейках</p>

                                li
                                    img(src="img/g4.png")
                                    h2 Подарки
                                    p от спонсоров
                                li
                                    img(src="img/g5.png")
                                    h2 Демонстрация
                                    p новинок софта
                                li
                                    img(src="img/g6.png")
                                    h2 Концентрат
                                    p полезных знаний
                                li
                                    img(src="img/g7.png")
                                    b 8
                                    p Мастер-классов
                                li
                                    img(src="img/g8.png")
                                    p Экспозиция нового<br> оборудования для
                                    h2 VoIP
                                li
                                    img(src="img/g9.png")
                                    h2 Инструкции
                                    p по самостоятельной<br>
                                      |реализации
    .presence
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go
                            h2 Не сможете присутствовать лично?
                            p Специально для вас мы организуем онлайн трансляцию, к которой вы сможете подключиться из любой точки мира.<br>Один клик - и вы становитесь полноценным участником конференции!
                            h3 С этого года онлайн-трансляция ведется с обоих залов конференции.
                        .geen-buttons
                            a(href="#") Записаться на трансляцию
                        .video-book
                            img(src="img/bg-book.jpg")
    .vote-new
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go.title-go-all
                            h2 Что нового в этом году
                        ul
                            li
                                .img-left-vote
                                    img(src='img/new1.png')
                                p Двухдневный формат<br> конференции

                            li
                                .img-left-vote
                                    img(src='img/new2.png')
                                p Большой зал
                                  br.sm-br
                                  |  <br>для докладов

                            li
                                .img-left-vote
                                    img(src='img/new3.png')
                                p Малый зал <br>для мастер-классов

                            li
                                .img-left-vote
                                    img(src='img/new4.png')
                                p Экспозона с
                                  br.sm-br
                                  |  демонстрацией <br> нового оборудования и<br>
                                  br.sm-br
                                  |  стендами с софтом

                            li
                                .img-left-vote
                                    img(src='img/new5.png')
                                p Онлайн-трансляция
                                  br.sm-br
                                  |  обоих<br> залов

                            li
                                .img-left-vote
                                    img(src='img/new6.png')
                                p Выступления с кейсами
                                  br.sm-br
                                  |  от <br> обычных
                                  br.sm-br
                                  |  пользователей

                            li
                                .img-left-vote
                                    img(src='img/new7.png')
                                p Большая секция для<br> разработчиков: практикум по<br> разработке внутри Asterisk и<br> снаружи Asterisk

    .conferenc
        .inner
            .top-conf.clearfix
                .left-conf
                    ul.clearfix
                        li
                            p Около
                            h2 100
                            p профессионалов
                        li
                            p Около
                            h2 200
                            p активных <br>пользователей
                .right-conf
                    .title-go.title-go-all
                        h2 О конференции

                    p Ежегодная конференция по Asterisk - важное и ожидаемое мероприятие для всех, кто связан с Asterisk в нашей стране. На одной площадке мы собираем около 100 профессионалов и около 200 активных пользователей системы. На конференции вы не только узнаете много нового и полезного о мире Asterisk, но и сможете обрести новые знакомства и связи с единомышленниками.
            .slider-conf
                .arrow-slider.clearfix
                    .left-arrow
                        a(href="#")
                    .right-arrow
                        a(href="#")
                ul(id="adaptive").clearfix
                    li
                        .left-slider-text
                            h2  Главная ценность<br> конференции - ее<br> участники
                            p  Именно вы определяете значимость и статус мероприятия. На нашей<br> площадке собираются несколько сотен специалистов, с которыми можно<br> пообщаться за чашкой кофе в перерывах между докладами. Именно в таком<br> формате появляются самые полезные знакомства, которые неизбежно<br> приводят к новым проектам, стартапам и интрересным разработкам.
                            .border-bottom
                        .right-slider-img
                            img(src="img/conf.jpg")

                    li
                        .left-slider-text
                            h2  Главная ценность<br> конференции - ее<br> участники
                            p  Именно вы определяете значимость и статус мероприятия. На нашей<br> площадке собираются несколько сотен специалистов, с которыми можно<br> пообщаться за чашкой кофе в перерывах между докладами. Именно в таком<br> формате появляются самые полезные знакомства, которые неизбежно<br> приводят к новым проектам, стартапам и интрересным разработкам.
                            .border-bottom
                        .right-slider-img
                            img(src="img/conf.jpg")

    .organize
        .inner
            .container-fluid
                .row
                    .col-md-4.col-sm-6.col-xs-12
                        .title-go
                            h2 ОРГАНИЗАТОРЫ <br>КОНФЕРЕНЦИИ
                        .left-org
                            img(src="img/vox.png")
                    .col-md-8.col-sm-6.col-xs-12
                       .right-organize
                           .title-go
                               h2 ПАРТНЕРЫ <br>КОНФЕРЕНЦИИ

                           .right-org
                               ul
                                   li
                                    img(src="img/p1.jpg")
                                   li
                                    img(src="img/p2.jpg")
                                   li
                                    img(src="img/p3.jpg")
                                   li
                                    img(src="img/p4.jpg")
    .choice
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go.title-go-all
                            h2  Вы решаете, какой будет конференция
                            p бла, бла, бла

                        .beer-time
                            h2  Должен ли вечер первого дня<br> закончиться пивом?
                            .midle-beer
                                img(src='img/beer.png')
                                .left-yes
                                    h2 да
                                    label
                                        input(class='checkbox' type="checkbox"  name="check")
                                        span.checkbox-custom
                                .right-no
                                    h2 нет
                                    label
                                        input(class='checkbox' type="checkbox"  name="check")
                                        span.checkbox-custom
                        .buttons-beer
                            ul
                                li
                                    a(href='#') Дальше

                                li
                                    a(href='#') Пропустить
    .feast
        .inner
            .title-go.title-go-all
                h2 Завершительный<br> банкет
            .slider-conf
                .arrow-slider.clearfix
                    .left-arrow
                        a(href="#")
                    .right-arrow
                        a(href="#")
                ul(id="feast").clearfix
                    li
                        .left-slider-text
                            p  Наша конференция заканчивается всегда банкетом, она<br> проходит (бла, бла, бла.)
                            p Enter a quote from the document or a brief description of an interesting event. The caption can be placed anywhere in the document. To change the formatting of an inscription containing catchy citations, use the Drawing Tools tab
                            .border-bottom
                        .right-slider-img
                            img(src="img/feast.jpg")

                    li
                        .left-slider-text
                            p  Наша конференция заканчивается всегда банкетом, она<br> проходит (бла, бла, бла.)
                            p Enter a quote from the document or a brief description of an interesting event. The caption can be placed anywhere in the document. To change the formatting of an inscription containing catchy citations, use the Drawing Tools tab
                            .border-bottom
                        .right-slider-img
                            img(src="img/feast.jpg")

