extends layouts/html.jade
block content
    .why-go
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go
                            h2 Зачем<br> <b>идти</b>
                        .items-go
                            ul.clearfix
                                li
                                    img(src="img/g1.png")
                                    b 15
                                    p Докладов
                                li
                                    img(src="img/g2.png")
                                    h2 Розыгрыш
                                    p ценных призов
                                li
                                    img(src="img/g3.png")
                                    h3 Полезные
                                        br.mobile-br
                                        |контакты
                                        br.if-not-mob
                                        |<p>и общение в кофе-<br>
                                        |брейках</p>

                                li
                                    img(src="img/g4.png")
                                    h2 Подарки
                                    p от спонсоров
                                li
                                    img(src="img/g5.png")
                                    h2 Демонстрация
                                    p новинок софта
                                li
                                    img(src="img/g6.png")
                                    h2 Концентрат
                                    p полезных знаний
                                li
                                    img(src="img/g7.png")
                                    b 8
                                    p Мастер-классов
                                li
                                    img(src="img/g8.png")
                                    p Экспозиция нового<br> оборудования для
                                    h2 VoIP
                                li
                                    img(src="img/g9.png")
                                    h2 Инструкции
                                    p по самостоятельной<br>
                                      |реализации
    .presence
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .title-go
                            h2 Не сможете присутствовать лично?
                            p Специально для вас мы организуем онлайн трансляцию, к которой вы сможете подключиться из любой точки мира.<br>Один клик - и вы становитесь полноценным участником конференции!
                            h3 С этого года онлайн-трансляция ведется с обоих залов конференции.
                        .geen-buttons
                            a(href="#") Записаться на трансляцию
                        .video-book
                            img(src="img/bg-book.jpg")
    .organize
        .inner
            .container-fluid
                .row
                    .col-md-4.col-sm-6.col-xs-12
                        .title-go
                            h2 ОРГАНИЗАТОРЫ <br>КОНФЕРЕНЦИИ
                        .left-org
                            img(src="img/vox.png")
                    .col-md-8.col-sm-6.col-xs-12
                       .right-organize
                           .title-go
                               h2 ПАРТНЕРЫ <br>КОНФЕРЕНЦИИ

                           .right-org
                               ul
                                   li
                                    img(src="img/p1.jpg")
                                   li
                                    img(src="img/p2.jpg")
                                   li
                                    img(src="img/p3.jpg")
                                   li
                                    img(src="img/p4.jpg")

