extends layouts/html.jade
block content
    .navigate
        .inner
            .left-map-nav
                img(src="img/mini-map.png")
            .right-text-nav
                .title-go.title-go-all
                    h2  Напишем для вас<br> индивидуальный<br> маршрут:
                ul
                    li
                        p Как добраться из вокзала или аэропорта, куда вы прибываете до гостиницы и площадки.
                    li
                        p Поможем с размещением в гостинице
                    li
                        p Оформим командировочные удостоверения

