@import url(../libs/lightslider/dist/css/lightslider.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
    transform: translate3d(0, -20px, 0) rotate(270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

.why-go {
  background-color: #f7f8f8;
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 1025px) {
    .why-go {
      height: 647px; } }
  @media (max-width: 780px) {
    .why-go {
      height: auto; } }

.title-go {
  position: absolute;
  left: 29px;
  top: 200px;
  width: 136px;
  min-height: 222px;
  background-image: url("../img/why.png");
  background-repeat: no-repeat; }
  .title-go h2 {
    font-size: 40px;
    font-weight: 300;
    color: #263139;
    line-height: 45px;
    text-transform: uppercase;
    padding-top: 54px;
    position: relative; }
    .title-go h2:after {
      position: absolute;
      left: -19px;
      top: 32px;
      content: '';
      background-image: url("../img/ygol.png");
      width: 30px;
      height: 29px; }
  .title-go b {
    font-weight: bold; }
  @media (max-width: 1025px) {
    .title-go {
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
      top: auto;
      left: auto;
      min-height: inherit;
      background-image: none; }
      .title-go h2 {
        display: inline-block;
        padding-top: 90px; }
        .title-go h2:after {
          top: 80px; }
      .title-go b {
        font-weight: 300; }
      .title-go br {
        display: none; } }
  @media (max-width: 370px) {
    .title-go h2 {
      font-size: 32px;
      line-height: 32px; } }

.title-go-all {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  top: auto;
  left: auto;
  min-height: inherit;
  background-image: none; }
  .title-go-all h2 {
    display: inline-block;
    padding-top: 90px; }
    .title-go-all h2:after {
      top: 80px; }
  @media (max-width: 810px) {
    .title-go-all h2:after {
      left: -9px; } }
  @media (max-width: 802px) {
    .title-go-all h2:after {
      left: 55px; } }
  @media (max-width: 656px) {
    .title-go-all h2:after {
      left: 0px; } }

.items-go {
  height: 647px;
  margin-top: 68px;
  position: relative;
  margin-left: 119px; }
  .items-go li {
    position: absolute;
    width: 252px;
    height: 252px;
    background-image: url("../img/item-go.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; }
    .items-go li img {
      padding-top: 60px;
      padding-bottom: 36px; }
    .items-go li h2 {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold; }
    .items-go li h3 {
      font-size: 18px;
      line-height: 18px;
      font-weight: bold; }
    .items-go li b {
      display: block;
      font-size: 36px;
      line-height: 36px; }
    .items-go li p {
      font-size: 16px;
      line-height: 16px;
      font-weight: 300; }
    .items-go li:first-child {
      left: 0;
      top: 0; }
    .items-go li:nth-child(2) {
      left: 256px; }
    .items-go li:nth-child(3) {
      left: 512px; }
      .items-go li:nth-child(3) h3 {
        width: 170px;
        margin: 0 auto; }
      .items-go li:nth-child(3) p {
        display: initial;
        padding-left: 5px; }
    .items-go li:nth-child(4) {
      top: 128px;
      left: 128px; }
    .items-go li:nth-child(5) {
      top: 128px;
      left: 384px; }
    .items-go li:nth-child(6) {
      top: 128px;
      left: 640px; }
    .items-go li:nth-child(7) {
      top: 255px;
      left: 0px; }
    .items-go li:nth-child(8) {
      top: 255px;
      left: 256px; }
    .items-go li:nth-child(9) {
      top: 255px;
      left: 512px; }
  @media (max-width: 1025px) {
    .items-go {
      margin-top: 57px;
      height: auto; }
      .items-go li {
        background-image: url("../img/m-item-go.png");
        width: 204px;
        height: 204px; }
        .items-go li img {
          padding-top: 37px;
          padding-bottom: 20px; }
        .items-go li:nth-child(2) {
          left: 209px; }
        .items-go li:nth-child(3) {
          left: 418px; }
        .items-go li:nth-child(4) {
          top: 104px;
          left: 104px; }
        .items-go li:nth-child(5) {
          top: 104px;
          left: 314px; }
          .items-go li:nth-child(5) h2 {
            font-size: 18px;
            line-height: 18px; }
        .items-go li:nth-child(6) {
          top: 104px;
          left: 521px; }
        .items-go li:nth-child(7) {
          top: 207px;
          left: 0px; }
        .items-go li:nth-child(8) {
          top: 207px;
          left: 209px; }
          .items-go li:nth-child(8) p {
            padding-bottom: 5px; }
        .items-go li:nth-child(9) {
          top: 207px;
          left: 418px; } }
  @media (max-width: 860px) {
    .items-go {
      margin-top: 57px;
      margin-left: 38px; } }
  @media (max-width: 780px) {
    .items-go {
      margin-left: 0px; }
      .items-go ul {
        text-align: center; }
      .items-go li {
        position: relative;
        top: auto !important;
        left: auto !important;
        display: inline-block;
        vertical-align: top;
        margin: 10px 22px; }
        .items-go li:nth-child(3) {
          position: absolute;
          top: 114px !important;
          left: 50% !important;
          margin-left: -102px; }
        .items-go li:nth-child(6) {
          position: absolute;
          top: 340px !important;
          left: 50% !important;
          margin-left: -102px; }
        .items-go li:nth-child(9) {
          top: -115px !important; } }
  @media (max-width: 529px) {
    .items-go {
      margin-left: 0px; }
      .items-go ul {
        text-align: center; }
      .items-go li {
        margin: 10px 10px; } }
  @media (max-width: 481px) {
    .items-go {
      margin-left: 0px; }
      .items-go ul {
        text-align: center; }
      .items-go li {
        margin: 10px 0px; } }
  @media (max-width: 441px) {
    .items-go {
      margin-left: 0px; }
      .items-go ul {
        text-align: center; }
      .items-go li {
        margin: 10px 0px; }
        .items-go li:nth-child(3) {
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important; }
        .items-go li:nth-child(6) {
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important; }
        .items-go li:nth-child(9) {
          position: relative;
          left: auto !important;
          margin-left: 0;
          top: auto !important; } }

.mobile-br {
  display: none; }
  @media (max-width: 1025px) {
    .mobile-br {
      display: block; } }

.if-not-mob {
  display: block; }
  @media (max-width: 1025px) {
    .if-not-mob {
      display: none; } }

@media (max-width: 991px) {
  .presence {
    margin-bottom: 70px; }
    .presence .geen-buttons {
      position: absolute;
      bottom: -30px;
      left: 50%;
      margin-left: -154px; } }

.presence .title-go {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  top: auto;
  left: auto;
  min-height: inherit;
  background-image: none; }
  .presence .title-go h2 {
    display: inline-block;
    padding-top: 90px; }
    .presence .title-go h2:after {
      top: 80px; }
  .presence .title-go p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    color: #7f8890; }
  .presence .title-go h3 {
    color: #7f8890;
    font-size: 24px;
    line-height: 24px;
    padding-top: 5px; }
  @media (max-width: 810px) {
    .presence .title-go h2:after {
      left: -9px; } }
  @media (max-width: 802px) {
    .presence .title-go h2:after {
      left: 55px; } }

.presence .geen-buttons {
  margin-top: 30px;
  text-align: center; }

@media (max-width: 770px) {
  .presence .title-go h2:after {
    left: 10px; } }

@media (max-width: 656px) {
  .presence {
    margin-bottom: 0; }
    .presence .title-go h2:after {
      left: 0px; }
    .presence .geen-buttons {
      bottom: 50px; }
    .presence .video-book {
      margin-bottom: 0; } }

.video-book {
  max-width: 779px;
  margin: 31px auto;
  text-align: center;
  position: relative;
  background-image: url("../img/book.png");
  height: 413px; }
  .video-book img {
    padding-top: 28px; }
  @media (max-width: 799px) {
    .video-book {
      background-size: 100%;
      background-repeat: no-repeat; }
      .video-book img {
        padding: 23px 20px;
        width: 75%; } }
  @media (max-width: 600px) {
    .video-book img {
      padding: 20px 20px;
      width: 76.5%; } }
  @media (max-width: 530px) {
    .video-book img {
      width: 76.5%; } }

.organize {
  background-color: #f1f2f2;
  background-image: url("../img/bg-org.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 45px;
  border-bottom: 1px solid #e2e2e2; }
  .organize .col-md-4 {
    padding-left: 0; }
  .organize .col-md-8 {
    padding-right: 0; }
  .organize .title-go {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    top: auto;
    left: auto;
    min-height: inherit;
    background-image: none; }
    .organize .title-go h2 {
      display: inline-block;
      padding-top: 90px; }
      .organize .title-go h2:after {
        top: 80px; }
    @media (max-width: 810px) {
      .organize .title-go h2:after {
        left: -9px; } }
    @media (max-width: 802px) {
      .organize .title-go h2:after {
        left: 55px; } }
    @media (max-width: 656px) {
      .organize .title-go h2:after {
        left: 0px; } }
  @media (max-width: 1095px) {
    .organize .title-go h2:after {
      left: -8px; } }
  @media (max-width: 1025px) {
    .organize .title-go br {
      display: block; } }
  @media (max-width: 991px) {
    .organize .title-go h2:after {
      left: -15x; } }

.right-organize {
  text-align: center; }

.left-org img {
  padding-top: 70px;
  width: 100%; }

@media (max-width: 991px) {
  .left-org {
    text-align: center; }
    .left-org img {
      width: 70%; } }

.right-org {
  text-align: center;
  margin-top: 54px; }
  .right-org li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px; }
  @media (max-width: 991px) {
    .right-org li {
      margin: 10px 10px; } }

.vote-new {
  text-align: center;
  padding-bottom: 20px; }
  .vote-new li {
    display: inline-block;
    vertical-align: top;
    margin: 35px 19px;
    width: 29.8%;
    text-align: left; }
    .vote-new li .img-left-vote {
      display: inline-block;
      vertical-align: middle;
      width: 19%;
      text-align: center; }
    .vote-new li:last-child {
      width: 371px;
      margin: 35px 0px;
      margin-right: -40px; }
  .vote-new p {
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #263139;
    font-weight: 300;
    text-align: left;
    width: 79.8%; }
  @media (max-width: 1177px) {
    .vote-new li {
      margin: 35px 10px; } }
  @media (max-width: 1123px) {
    .vote-new li {
      width: 33%;
      margin: 35px 0; }
      .vote-new li p {
        padding-left: 20px; }
      .vote-new li br {
        display: none; } }
  @media (max-width: 997px) {
    .vote-new li {
      width: 32%;
      margin: 35px 0; } }
  @media (max-width: 966px) {
    .vote-new li {
      width: 254px;
      margin: 35px 0; }
      .vote-new li .img-left-vote {
        width: 23.8%; }
      .vote-new li p {
        width: 74.7%;
        padding-left: 2px; }
      .vote-new li br {
        display: none !important; }
      .vote-new li:last-child {
        width: 254px;
        margin: 35px 0; } }
  @media (max-width: 799px) {
    .vote-new li {
      width: 300px;
      margin: 35px 5px; }
      .vote-new li br {
        display: none !important; }
      .vote-new li:last-child {
        width: 300px;
        margin: 35px 5px;
        margin-right: 5px; } }

.sm-br {
  display: none; }
  @media (max-width: 1024px) {
    .sm-br {
      display: block !important; } }

.conferenc {
  background-color: #3c3442;
  background-image: url("../img/bg-conf.jpg");
  background-position: left;
  background-repeat: no-repeat; }
  @media (max-width: 1200px) {
    .conferenc {
      padding: 0 10px;
      background-image: none; } }
  @media (max-width: 991px) {
    .conferenc {
      padding-bottom: 130px; }
      .conferenc ul {
        padding-bottom: 0px; } }

.left-conf {
  max-width: 590px;
  width: 100%;
  float: left;
  border-bottom: 2px solid #ffb100;
  margin-top: 70px; }
  .left-conf ul {
    margin-bottom: 21px; }
  .left-conf li {
    float: left;
    text-align: center;
    padding: 34px 55px;
    height: 200px; }
    .left-conf li p {
      color: #fff;
      font-size: 21px;
      line-height: 25px;
      font-weight: 300; }
    .left-conf li h2 {
      color: #ffb100;
      font-size: 70px;
      line-height: 70px;
      font-weight: bold; }
    .left-conf li:first-child {
      border-right: 1px solid #ffb100; }
    .left-conf li:last-child {
      border-left: 1px solid #ffb100; }
  @media (max-width: 1179px) {
    .left-conf {
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center; }
      .left-conf li {
        padding: 34px 45px;
        float: none;
        vertical-align: top;
        display: inline-block; }
        .left-conf li:last-child {
          border-left: none; }
        .left-conf li:first-child {
          border-right: 2px solid #ffb100; } }
  @media (max-width: 1172px) {
    .left-conf {
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center; }
      .left-conf li {
        padding: 34px 40px; } }
  @media (max-width: 1125px) {
    .left-conf {
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center; }
      .left-conf li {
        padding: 34px 35px; } }
  @media (max-width: 1078px) {
    .left-conf {
      max-width: inherit;
      width: 42.9%;
      margin-left: 4px;
      text-align: center; }
      .left-conf li {
        padding: 34px 25px; } }
  @media (max-width: 1031px) {
    .left-conf {
      width: 49.8%; }
      .left-conf li {
        padding: 34px 20px; } }
  @media (max-width: 1017px) {
    .left-conf {
      width: 49.8%; }
      .left-conf li {
        padding: 34px 35px; } }
  @media (max-width: 991px) {
    .left-conf {
      width: 37.8%; }
      .left-conf li {
        padding: 34px 0px;
        max-width: 150px;
        float: left; }
        .left-conf li h2 {
          font-size: 50px;
          line-height: 50px; }
        .left-conf li p {
          letter-spacing: -0.4px;
          padding-right: 20px;
          padding-left: 10px;
          font-size: 16px; }
        .left-conf li:last-child p {
          padding-left: 15px; } }
  @media (max-width: 799px) {
    .left-conf {
      width: 100%;
      float: none; }
      .left-conf li {
        float: none;
        display: inline-block;
        vert-align: top;
        padding: 35px 25px;
        max-width: inherit; }
        .left-conf li p {
          padding: 0; } }
  @media (max-width: 372px) {
    .left-conf li {
      padding: 35px 10px;
      max-width: inherit; }
      .left-conf li p {
        padding: 0; } }

.right-conf {
  float: left;
  max-width: 590px;
  width: 100%;
  padding-left: 50px; }
  .right-conf .title-go {
    text-align: left; }
    .right-conf .title-go h2 {
      color: #fff; }
  .right-conf p {
    padding-top: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px; }
  @media (max-width: 1179px) {
    .right-conf {
      max-width: inherit;
      width: 56.7%;
      padding-right: 10px; } }
  @media (max-width: 1031px) {
    .right-conf {
      max-width: inherit;
      width: 49%;
      padding-right: 10px; } }
  @media (max-width: 1024px) {
    .right-conf {
      width: 49.8%;
      padding-right: 10px; } }
  @media (max-width: 1012px) {
    .right-conf {
      width: 49.0%;
      padding-right: 10px; } }
  @media (max-width: 992px) {
    .right-conf {
      width: 49.5%;
      padding-right: 10px; } }
  @media (max-width: 992px) {
    .right-conf {
      width: 61.5%;
      padding-right: 10px;
      padding-left: 30px; }
      .right-conf .title-go-all h2:after {
        left: -20px; } }
  @media (max-width: 799px) {
    .right-conf {
      width: 100%;
      padding: 0;
      text-align: center; }
      .right-conf .title-go-all {
        text-align: center; }
        .right-conf .title-go-all h2 {
          text-align: center; }
          .right-conf .title-go-all h2:after {
            left: -20px; } }

.slider-conf {
  position: relative; }
  .slider-conf .arrow-slider {
    position: absolute;
    bottom: 60px;
    left: 380px;
    z-index: 80; }
    .slider-conf .arrow-slider a {
      display: block;
      border: 1px solid #ebebeb;
      width: 26px;
      height: 26px; }
      .slider-conf .arrow-slider a:hover {
        background-color: #ffb100;
        border: 1px solid #ffb100; }
    .slider-conf .arrow-slider .left-arrow {
      float: left;
      margin-right: 1px; }
      .slider-conf .arrow-slider .left-arrow a {
        -webkit-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/left-arrow.png"); }
        .slider-conf .arrow-slider .left-arrow a:hover {
          background-image: url("../img/left-arrow-hover.png"); }
    .slider-conf .arrow-slider .right-arrow {
      float: left; }
      .slider-conf .arrow-slider .right-arrow a {
        -webkit-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        background-image: url("../img/right-arrow.png");
        background-position: center;
        background-repeat: no-repeat; }
        .slider-conf .arrow-slider .right-arrow a:hover {
          background-image: url("../img/right-arrow-hover.png"); }
  @media (max-width: 1199px) {
    .slider-conf .arrow-slider {
      left: 289px; } }
  @media (max-width: 991px) {
    .slider-conf {
      padding: 0 0px 65px 0px;
      margin: 0 60px; }
      .slider-conf .arrow-slider {
        bottom: 0;
        right: 0;
        left: auto; } }
  @media (max-width: 850px) {
    .slider-conf {
      padding: 0 0 65px 0; }
      .slider-conf .arrow-slider {
        bottom: 0;
        right: 0;
        left: auto; } }
  @media (max-width: 850px) {
    .slider-conf {
      padding: 0 0 65px 0;
      margin: 0 10px; } }

.left-slider-text {
  max-width: 600px;
  margin-top: 109px;
  position: relative;
  z-index: 69;
  float: left;
  width: 100%;
  padding-left: 0px;
  color: #fff;
  padding-bottom: 100px; }
  .left-slider-text h2 {
    padding-top: 29px;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 300; }
  .left-slider-text p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 5px;
    letter-spacing: -0.4px;
    background-color: rgba(60, 52, 66, 0.5); }
  .left-slider-text .border-bottom {
    margin-top: 20px;
    width: 430px;
    padding-left: 4px;
    background-color: #b2b2b2;
    height: 1px; }
  @media (max-width: 1199px) {
    .left-slider-text {
      max-width: inherit;
      width: 50.6%;
      background-color: rgba(60, 52, 66, 0.5); }
      .left-slider-text h2 {
        letter-spacing: -0.9px; }
      .left-slider-text p {
        background-color: transparent; }
        .left-slider-text p br {
          display: none; }
      .left-slider-text .border-bottom {
        width: 67%; } }
  @media (max-width: 991px) {
    .left-slider-text {
      max-width: inherit;
      width: 100%;
      margin-top: 70px;
      float: none;
      background-color: rgba(60, 52, 66, 0.5);
      padding-bottom: 0; }
      .left-slider-text h2 {
        letter-spacing: -0.9px; }
      .left-slider-text p {
        background-color: transparent; }
        .left-slider-text p br {
          display: none; }
      .left-slider-text .border-bottom {
        width: 100%;
        position: absolute;
        bottom: -639px;
        z-index: 80; }
      .left-slider-text h2 br:last-child {
        display: none; } }
  @media (max-width: 550px) {
    .left-slider-text h2 {
      font-size: 40px;
      text-align: center; }
      .left-slider-text h2 br {
        display: none; } }

.right-slider-img {
  float: left;
  margin-top: 85px;
  position: relative;
  width: 100%;
  max-width: 580px;
  height: 480px; }
  .right-slider-img img {
    position: absolute;
    bottom: -50px;
    left: -145px; }
  @media (max-width: 1199px) {
    .right-slider-img {
      max-width: inherit;
      width: 40%; }
      .right-slider-img img {
        max-width: 630px; } }
  @media (max-width: 991px) {
    .right-slider-img {
      max-width: inherit;
      margin-top: 0px;
      width: 100%;
      float: none;
      height: auto; }
      .right-slider-img img {
        max-width: inherit;
        margin-left: 0;
        width: 100%;
        left: auto;
        top: auto;
        position: relative; } }

.choice .title-go p {
  padding-top: 20px;
  font-size: 16px;
  color: #7f8890; }

.beer-time {
  text-align: center;
  margin-top: 50px; }
  .beer-time h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase; }

.midle-beer {
  text-align: center;
  position: relative;
  margin-top: 49px; }
  .midle-beer h2 {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 37px;
    color: #7f8890; }
  .midle-beer .checkbox {
    display: none; }
  .midle-beer .checkbox-custom {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #e8e8e8; }
  .midle-beer .checkbox-custom,
  .midle-beer .label {
    display: inline-block;
    vertical-align: middle; }
  .midle-beer .checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: url("../img/check.png");
    background-position: center; }
    .midle-beer .checkbox:checked + .checkbox-custom::before .left-yes {
      position: absolute;
      left: 199px;
      top: 70px; }
    .midle-beer .checkbox:checked + .checkbox-custom::before .right-no {
      position: absolute;
      right: 199px;
      top: 70px; }
  .midle-beer .left-yes {
    position: absolute;
    left: 199px;
    top: 70px; }
  .midle-beer .right-no {
    position: absolute;
    right: 199px;
    top: 70px; }
  @media (max-width: 1024px) {
    .midle-beer .left-yes {
      left: 119px; }
    .midle-beer .right-no {
      right: 119px; } }
  @media (max-width: 991px) {
    .midle-beer .left-yes {
      left: 129px; }
    .midle-beer .right-no {
      right: 129px; } }
  @media (max-width: 700px) {
    .midle-beer .left-yes {
      left: 50px; }
    .midle-beer .right-no {
      right: 50px; } }
  @media (max-width: 535px) {
    .midle-beer .left-yes {
      left: 0px; }
    .midle-beer .right-no {
      right: 0px; } }
  @media (max-width: 460px) {
    .midle-beer .left-yes {
      position: relative;
      left: auto;
      top: auto;
      margin-top: 15px; }
    .midle-beer .right-no {
      position: relative;
      left: auto;
      top: auto;
      margin-top: 15px; } }

.buttons-beer {
  text-align: center; }
  .buttons-beer ul {
    display: inline-block; }
  .buttons-beer li {
    float: left; }
    .buttons-beer li:last-child a {
      background-color: transparent;
      border: 1px solid #b0abb3;
      color: #b0abb3; }
      .buttons-beer li:last-child a:hover {
        color: #fff;
        background-color: #97909b; }
  .buttons-beer a {
    display: block;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #127323;
    padding: 15px 53px;
    color: #fff;
    background-color: #71c34c;
    margin: 49px 7.5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all; }
    .buttons-beer a:hover {
      background-color: #59a537; }
  @media (max-width: 425px) {
    .buttons-beer li {
      float: none;
      display: inline-block; }
    .buttons-beer a {
      margin: 5px 0; } }

.feast .title-go {
  text-align: left; }

.feast .slider-conf {
  margin-top: 59px; }

.feast .arrow-slider {
  bottom: 130px;
  left: 403px; }

.feast .left-slider-text {
  margin-top: 50px;
  padding-left: 60px;
  max-width: 500px;
  position: relative;
  padding-bottom: 50px;
  padding-bottom: 0; }
  .feast .left-slider-text:after {
    position: absolute;
    content: '';
    left: 50px;
    top: 24px;
    width: 10px;
    height: 188px;
    background-color: #efa704; }
  .feast .left-slider-text .box-sh {
    -webkit-box-shadow: 0 0 20px #d1d3d3;
    box-shadow: 0 0 20px #d1d3d3; }
  .feast .left-slider-text p {
    background-color: #f7f8f8;
    margin-top: 0;
    padding-bottom: 30px;
    padding-left: 20px;
    color: #7f8890;
    letter-spacing: -0.8px; }
    .feast .left-slider-text p:first-child {
      padding-top: 23px; }
  .feast .left-slider-text .border-bottom {
    width: 90%; }

.feast .right-slider-img {
  margin-top: 0; }
  .feast .right-slider-img img {
    bottom: auto;
    left: -20px; }

@media (max-width: 1199px) {
  .feast .title-go {
    padding-left: 82px; }
    .feast .title-go br {
      display: block; }
  .feast .left-slider-text {
    background-color: transparent;
    padding-left: 32px; }
    .feast .left-slider-text:after {
      left: 20px; }
  .feast .right-slider-img img {
    max-width: 530px; } }

@media (max-width: 1199px) {
  .feast .title-go {
    padding-left: 82px; }
    .feast .title-go br {
      display: block; }
  .feast .left-slider-text {
    background-color: transparent;
    padding-left: 32px; }
    .feast .left-slider-text:after {
      left: 20px; }
  .feast .right-slider-img img {
    max-width: 530px; } }

@media (max-width: 1009px) {
  .feast .right-slider-img img {
    max-width: 490px;
    left: auto; } }

@media (max-width: 991px) {
  .feast .title-go {
    padding-left: 82px; }
    .feast .title-go br {
      display: block; }
  .feast .arrow-slider {
    right: 0;
    left: auto;
    top: 95%; }
  .feast .left-slider-text {
    padding-left: 12px;
    width: 98%;
    max-width: inherit;
    margin-left: 10px;
    background-color: #f7f8f8;
    min-height: 186px; }
    .feast .left-slider-text p {
      background-color: transparent;
      padding-left: 0; }
    .feast .left-slider-text:after {
      left: -10px;
      top: 17px;
      height: 169px; }
    .feast .left-slider-text:before {
      position: absolute;
      width: 350px;
      height: 10px;
      content: '';
      bottom: 0;
      left: 0;
      background-color: #f1a904; }
  .feast .right-slider-img {
    margin-top: 39px; }
    .feast .right-slider-img img {
      max-width: inherit;
      left: auto; } }

@media (max-width: 817px) {
  .feast .left-slider-text:after {
    left: -10px;
    top: 19px;
    height: 169px; } }

@media (max-width: 802px) {
  .feast .title-go {
    padding-left: 82px; }
    .feast .title-go h2:after {
      left: -20px; }
    .feast .title-go br {
      display: block; }
  .feast .slider-conf {
    margin: 0 60px; } }

@media (max-width: 802px) {
  .feast .title-go {
    padding-left: 82px; }
    .feast .title-go h2:after {
      left: -20px; }
    .feast .title-go br {
      display: block; }
  .feast .left-slider-text:after {
    height: 194px; } }

@media (max-width: 678px) {
  .feast .left-slider-text:after {
    height: 219px; } }

@media (max-width: 538px) {
  .feast .slider-conf {
    margin: 0 10px; }
  .feast .left-slider-text:after {
    height: 219px; } }

@media (max-width: 470px) {
  .feast .title-go {
    padding-left: 0;
    text-align: center; }
    .feast .title-go h2 {
      font-size: 35px; }
  .feast .slider-conf {
    margin: 0 10px; }
  .feast .left-slider-text:after {
    height: 219px; } }

@media (max-width: 470px) {
  .feast .left-slider-text:after {
    height: 244px; } }

@media (max-width: 372px) {
  .feast .title-go h2 {
    font-size: 30px; }
  .feast .left-slider-text:after {
    height: 269px; } }

@media (max-width: 336px) {
  .feast .left-slider-text:after {
    height: 286px; } }

.where .title-go p {
  padding-top: 29px; }

.where-map {
  text-align: center;
  margin-top: 32px; }
  .where-map a {
    border: 1px solid #ff8a00;
    display: inline-block;
    padding: 8px 18px 10px 38px;
    text-align: left;
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    position: relative; }
    .where-map a:after {
      position: absolute;
      left: 14px;
      top: 13px;
      content: '';
      background-image: url("../img/download.png");
      width: 14px;
      height: 14px; }
  .where-map tt {
    color: #b2b2b2;
    font-size: 12px;
    line-height: 12px; }
  .where-map .map {
    margin-top: 51px; }
    .where-map .map img {
      width: 100%; }
    .where-map .map p {
      padding-top: 60px;
      font-size: 24px;
      line-height: 26px; }

.feast-in .orange-bg {
  width: 33.9%;
  height: 139px;
  float: left;
  margin-top: 90px;
  margin-left: 60px;
  position: relative;
  background-color: #efa704; }

.feast-in .left-slider-text {
  position: absolute;
  left: 10px;
  top: -26px;
  width: 505px;
  padding-right: 25px;
  background-color: #f7f8f8;
  -webkit-box-shadow: 0 0 20px #d1d3d3;
  box-shadow: 0 0 20px #d1d3d3;
  margin-top: 0;
  padding-left: 20px;
  float: none; }
  .feast-in .left-slider-text .box-sh {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .feast-in .left-slider-text h2 {
    font-size: 24px;
    line-height: 24px;
    color: #263139;
    font-weight: 300;
    text-transform: none;
    padding-top: 24px; }
  .feast-in .left-slider-text p {
    background-color: transparent;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #7f8890; }
  .feast-in .left-slider-text:after {
    display: none; }

.feast-in .right-slider-img {
  width: 54.3%;
  max-width: inherit; }
  .feast-in .right-slider-img img {
    left: 80px; }

.feast-in .arrow-slider {
  max-width: 461px;
  width: 100%;
  left: 60px;
  top: 55%; }
  .feast-in .arrow-slider a {
    background-color: #ebebeb; }
  .feast-in .arrow-slider .border-bottom {
    width: 100%;
    height: 1px;
    background-color: #b2b2b2; }
  .feast-in .arrow-slider .left-arrow-one {
    float: right;
    margin-top: 10px; }
  .feast-in .arrow-slider .right-arrow-one {
    margin-top: 10px;
    float: right; }

.feast-in .slider-conf-right .orange-bg {
  margin-left: 90px;
  margin-right: 0px; }
  .feast-in .slider-conf-right .orange-bg .left-slider-text {
    right: 10px;
    left: auto; }

.feast-in .slider-conf-right .arrow-slider {
  right: 56px;
  left: auto; }
  .feast-in .slider-conf-right .arrow-slider .left-arrow-one {
    float: left; }
  .feast-in .slider-conf-right .arrow-slider .right-arrow-one {
    float: left; }

.feast-in .slider-conf-right .right-slider-img img {
  left: 0; }

.feast-in .slider-conf-tree .arrow-slider {
  top: 82%; }

.feast-in .slider-conf-tree .orange-bg {
  margin-top: 50px;
  height: 295px; }

.feast-in .slider-conf-tree .left-slider-text h2 {
  padding-bottom: 30px; }

.feast-in .slider-conf-tree .left-slider-text p {
  padding-bottom: 10px;
  padding-top: 0; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 18px;
  display: block;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.field {
  position: relative;
  float: left; }
  .field .allert .fa-exclamation-triangle {
    display: block;
    background-size: 100%;
    width: 25px;
    height: 25px; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

a {
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.clearfix:after {
  clear: both; }

.inner {
  max-width: 1180px;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .inner {
      max-width: 1024px; } }

.icon {
  display: inline-block; }

.btn {
  display: inline-block;
  -webkit-transition: .2s all;
  transition: .2s all; }
